<template class="add-template">
  <div style="height: 30px; display: flex; margin: 5px;">
    <button id="btnAddModbusTcpMasterSession">Modbus/TCP MASTER 추가</button>
  </div>
</template>
<template class="session-template">
  <div class="container">
    <div class="header">
      <div>
        Modbus/TCP MASTER 접속 정보
      </div>
      <div>
        <button id="btnDeleteModbusTcpMasterSession" style="width: 26px; height: 26px; margin: 0px; padding: 0px; border: 0px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="body">
      <div class="row">
        <div class="title">제품 IP 주소</div>
        <div>
          <input id="deviceAddress" value="192.168.0.14" />
        </div>
      </div>
      <div class="row">
        <div class="title">포트번호</div>
        <div>
          <input id="devicePortNubmer" value="502" />
        </div>
      </div>
      <div class="row">
        <div class="title">UNIT ID</div>
        <div>
          <input id="unitId" value="1" />
        </div>
      </div>
      <div class="row">
        <button id="btnConnect">접속</button>
      </div>
    </div>
    <div class="header">
      쿼리 전송
    </div>
    <div class="body">
      <div class="row">
        <div class="title">함수코드</div>
        <div>
          <select id="fc">
            <option>READ COILS (FC 01)</option>
            <option>READ DISCRETE INPUTS (FC 02)</option>
            <option>READ HOLDING REGISTERS (FC 03)</option>
            <option>READ INPUT REGISTERS (FC 04)</option>
            <option>WRITE SINGLE COIL (FC 05)</option>
            <option>WRITE SINGLE REGISTER (FC 06)</option>
            <option>WRITE MULTIPLE COILS (FC 15)</option>
            <option>WRITE MULTIPLE REGISTERS (FC 16)</option>
            <option>PULSE (FC 105)</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="title">시작주소</div>
        <div>
          <input id="startAddress" value="0" />
        </div>
      </div>
      <div class="row">
        <div id="quantityTitle" class="title">개수</div>
        <div>
          <input id="quantity" value="1" />
        </div>
      </div>
      <div class="row">
        <div class="title">값</div>
        <div>
          <input id="value" />
          <select id="valueCoil" style="display: none;">
            <option value="1">TRUE</option>
            <option value="0">FALSE</option>
          </select>
        </div>
      </div>
      <div class="row">
        <button id="btnSendQuery">쿼리전송</button>
      </div>
    </div>
    <div class="header">
      로그
    </div>
    <div class="body">
      <div class="row">
        <div class="container" style="min-width: 400px;">
          <pre id="log"></pre>
        </div>
      </div>
      <div class="row">
        <button id="btnClearLog">삭제</button>
      </div>
    </div>
  </div>
</template>
<template class="rtu-session-template"></template>
